.heading-container {
  display: flex;
  max-width: 600px;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.heading-image {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.heading-text {
  width: 100%;
  text-align: left;
  margin-bottom: var(--dl-space-space-halfunit);
}
.heading-text1 {
  text-align: left;
}

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: 32px;
}
.navigation-links-text2 {
  margin-left: 32px;
}
.navigation-links-text3 {
  margin-left: 32px;
}
.navigation-links-text4 {
  margin-left: 32px;
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.tip-tip {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-900);
}
.tip-icon {
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  flex-shrink: 0;
}
.tip-text {
  max-width: 600px;
  margin-left: var(--dl-space-space-halfunit);
}
.tip-header {
  width: 1468px;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
}
.tip-image {
  height: 2rem;
}
.tip-separator {
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: var(--dl-color-gray-900);
}
.tip-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tip-icon2 {
  width: 16px;
  height: 16px;
  display: none;
}
.tip-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.tip-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 991px) {
  .tip-nav1 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .tip-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .tip-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .tip-nav {
    display: none;
  }
  .tip-icon2 {
    display: flex;
  }
}
@media(max-width: 479px) {
  .tip-header {
    padding: var(--dl-space-space-unit);
  }
  .tip-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}

.the-end-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.the-end-container1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.the-end-container2 {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.the-end-text03 {
  font-style: normal;
  font-weight: 500;
}
.the-end-text05 {
  margin-top: var(--dl-space-space-halfunit);
}
.the-end-text08 {
  font-style: normal;
  font-weight: 500;
}
.the-end-container3 {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
}
.the-end-text10 {
  margin-right: 4px;
}
.the-end-text12 {
  font-weight: 700;
}
.the-end-text13 {
  font-weight: 700;
}
.the-end-container4 {
  width: 263px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.the-end-link1 {
  display: contents;
}
.the-end-icon {
  height: var(--dl-size-size-unit);
}
.the-end-link2 {
  display: contents;
}
.the-end-icon02 {
  height: var(--dl-size-size-unit);
}
.the-end-link3 {
  display: contents;
}
.the-end-icon04 {
  height: var(--dl-size-size-unit);
}
.the-end-link4 {
  display: contents;
}
.the-end-icon06 {
  height: var(--dl-size-size-unit);
}
.the-end-link5 {
  display: contents;
}
.the-end-icon08 {
  height: var(--dl-size-size-unit);
}
.the-end-link6 {
  display: contents;
}
.the-end-icon10 {
  height: var(--dl-size-size-unit);
}
